@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@200&display=swap');
*{
    background-color: black;
}
h1{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    font-size: 60px;
    padding-top: 3%;
    margin-bottom: 7%;
}
#btn1, #btn3 {
    font-family: 'Lexend Giga', sans-serif;
    background-color: #282828;
    color: rgb(204, 193, 193);
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 800;
    display: block; 
    margin-bottom: 80px;
    margin-left: 43%;
    border: none;
}

button:active{
    transform: scale(1.1);
}


@media (max-width: 900px) {
    #btn1, #btn3 {
        width: 50%;
        margin-left: 250px;
        color: white;
    }
}